div(class='tabs')
  input(class="tabs-tab" type="radio" id="tabs-tab1" name="tabstab"  checked="checked")
  label(class="tabs-title" for="tabs-tab1")
    svg(class="icon icon-Path_116")
      use(xlink:href="#icon-Path_116")
  div(class="tabs-text")
    div(class="container-mobile")
      div(class="tabs-content")
        include ../lesson-content/task1
  input(class="tabs-tab" type="radio" id="tabs-tab2" name="tabstab")
  label(class="tabs-title" for="tabs-tab2")
    svg(class="icon icon-Path_118")
      use(xlink:href="#icon-Path_118")
  div(class="tabs-text")
  input(class="tabs-tab" type="radio" id="tabs-tab3" name="tabstab")
  label(class="tabs-title" for="tabs-tab3")
    svg(class="icon icon-Path_120")
      use(xlink:href="#icon-Path_120")
  div(class="tabs-text")
  input(class="tabs-tab" type="radio" id="tabs-tab3" name="tabstab")
  label(class="tabs-title" for="tabs-tab3")
    svg(class="icon icon-Path_116")
      use(xlink:href="#icon-Path_116")
  div(class="tabs-text")
  input(class="tabs-tab" type="radio" id="tabs-tab3" name="tabstab")
  label(class="tabs-title" for="tabs-tab3")
    svg(class="icon icon-Path_118")
      use(xlink:href="#icon-Path_118")
  div(class="tabs-text")
  input(class="tabs-tab" type="radio" id="tabs-tab3" name="tabstab")
  label(class="tabs-title" for="tabs-tab3")
    svg(class="icon icon-Path_120")
      use(xlink:href="#icon-Path_120")
  div(class="tabs-text")