div(class="task-content")  
  h3 Задание 1. Что такое
  p Просмотр видео
  div(class='checkbox-block')
    input(type="checkbox" class="checkbox-lesson" id="checkbox")
    label(for="checkbox") Задание не выполнено
  video(scr='' poster='images/video.jpg')
  div(class='video-lesson')
    p Как понять что такое хороший интерфейс? Хороший интерфейс не заставляет пользователей лишний раз думать. Он призван минимизировать затрату времени на его восприятие. Хороший интерфейс не видим. И преподносит контент на первый план. 
    button(class='button button-green') Задание выполнено