header(class='header')
  div(class='container-mobile')
    div(class='layout layout-header')
      div(class='layout-item')
        div(class='header-nav')
          a(href="link" class='header-arrow')
            svg(class="icon icon-arrow")
              use(xlink:href="#icon-arrow")
          a(href="index.html" class='logo')
            img(src="/images/logo.png")
      div(class='layout-item')
        div(class='header-user')
          a(href='#')
            img(class='user-photo' src="/images/user.jpg")
          p(class='user-name') Денис
