div(class='sidebar')
  div(class='layout layout-sidebar')
    div(class='layout-item')
      div(class='sidebar-menu inverse')
        div(class='sidebar-menu-group')
          a(href='#' class='sidebar-menu-item' class="sidebar-menu-logo") s
          a(href="#" class='sidebar-menu-item')
            svg(class="icon icon-notice")
              use(xlink:href="#icon-notice")
          a(href="#" class='sidebar-menu-item')
            img(class='user-photo' src="/images/user.jpg")
        div(class='sidebar-menu-group')
          a(href="#" class='sidebar-menu-item')
            svg(class="icon icon-Path_104")
              use(xlink:href="#icon-Path_104")
          a(href="#" class='sidebar-menu-item')
            svg(class="icon icon-settings")
              use(xlink:href="#icon-settings")
          a(href="#" class='sidebar-menu-item')
            svg(class="icon icon-Path_109")
              use(xlink:href="#icon-Path_109")
        div(class="sidebar-menu-group")
          a(href="#" class='sidebar-menu-item')
            svg(class="icon icon-exit")
              use(xlink:href="#icon-exit")
    div(class='layout-item')
      div(class="sidebar-hidden inverse")
        a(href="link" class='header-arrow')
          svg(class="icon icon-arrow")
            use(xlink:href="#icon-arrow")
        div(class='course')
          div(class='course-title')
            h3 Курс HTML/CSS продвинутый
            div(class="course-details")
              p Формат: 
                span Самостоятельный
              a(href="#") Сменить формат
          ul(class='course-nav')
            li
              a(href="#") Урок 1. Цифровое и бумажное прототипирование
            li
              a(href="#") Урок 2. Тестирование интерфейса
            li 
              a(href="#") Менторская сессия
            li
              a(href="#") Урок 3. Дизайн анализ
            li
              a(href="#") Менторская сессия
            li
              a(href="#") Урок 4. Вовлечение пользователя
            li
              a(href='#') Менторская сессия
            li
              a(href='#') Урок 5. Работа с техническими требованиям
            li
              a(href='#') Менторская сессия
            li
              a(href='#') Урок 6. Основные принципы макета и атомарного дизайна
            li
              a(href='#') Менторская сессия
            li
              a(href='#') Урок 7. Работа с цветом